.concave section,
.classic section
	background: rgba(10,10,10,.4);

.concave section.bespoke-before
	-webkit-transform: translateX(-800px) rotateY(90deg) translateX(-800px)
	-moz-transform: translateX(-800px) rotateY(90deg) translateX(-800px)
	-ms-transform: translateX(-800px) rotateY(90deg) translateX(-800px)
	-o-transform: translateX(-800px) rotateY(90deg) translateX(-800px)
	transform: translateX(-800px) rotateY(90deg) translateX(-800px)	

.concave section.bespoke-before-1
	-webkit-transform: translateX(-30px) rotateY(78deg) translateX(-30px)
	-moz-transform: translateX(-30px) rotateY(78deg) translateX(-30px)
	-ms-transform: translateX(-30px) rotateY(78deg) translateX(-30px)
	-o-transform: translateX(-30px) rotateY(78deg) translateX(-30px)
	transform: translateX(-30px) rotateY(78deg) translateX(-30px)
	background: rgba(0,0,255,.4)

.concave section.bespoke-after
	-webkit-transform: translateX(-800px) rotateY(-90deg) translateX(800px)
	-moz-transform: translateX(800px) rotateY(-90deg) translateX(800px)
	-ms-transform: translateX(800px) rotateY(-90deg) translateX(800px)
	-o-transform: translateX(800px) rotateY(-90deg) translateX(800px)
	transform: translateX(800px) rotateY(-90deg) translateX(800px)	

.concave section.bespoke-after-1
	-webkit-transform: translateX(30px) rotateY(-58deg) translateX(30px)
	-moz-transform: translateX(30px) rotateY(-58deg) translateX(30px)
	-ms-transform: translateX(30px) rotateY(-58deg) translateX(30px)
	-o-transform: translateX(30px) rotateY(-58deg) translateX(30px)
	transform: translateX(30px) rotateY(-58deg) translateX(30px)
	background: rgba(0,0,255,.4)

.classic section.bespoke-before
	-webkit-transform: translate3d(-1920px,0,0);
	-moz-transform: translate3d(-1920px,0,0);
	-ms-transform: translate3d(-1920px,0,0);
	-o-transform: translate3d(-1920px,0,0);
	transform: translate3d(-1920px,0,0);
	background: rgba(255,0,0,.8)

classic section.bespoke-before-2
	-webkit-transform: translate3d(-1280px,0,0);
	-moz-transform: translate3d(-1280px,0,0);
	-ms-transform: translate3d(-1280px,0,0);
	-o-transform: translate3d(-1280px,0,0);
	transform: translate3d(-1280px,0,0);
	opacity: 1
	background: rgba(255,0,0,.8)

classic section.bespoke-before-1
	-webkit-transform: translate3d(-640px,0,0);
	-moz-transform: translate3d(-640px,0,0);
	-ms-transform: translate3d(-640px,0,0);
	-o-transform: translate3d(-640px,0,0);
	transform: translate3d(-640px,0,0);
	opacity: 1
	background: rgba(255,0,0,.8)

.classic section.bespoke-after
	-webkit-transform: translate3d(1920px,0,0);
	-moz-transform: translate3d(1920px,0,0);
	-ms-transform: translate3d(1920px,0,0);
	-o-transform: translate3d(1920px,0,0);
	transform: translate3d(1920px,0,0);
	background: rgba(0,0,255,.8)

classic section.bespoke-after-2
	-webkit-transform: translate3d(1280px,0,0);
	-moz-transform: translate3d(1280px,0,0);
	-ms-transform: translate3d(1280px,0,0);
	-o-transform: translate3d(1280px,0,0);
	transform: translate3d(1280px,0,0);
	opacity: 0.4
	background: rgba(0,0,255,.8)

classic section.bespoke-after-1
	-webkit-transform: translate3d(640px,0,0);
	-moz-transform: translate3d(640px,0,0);
	-ms-transform: translate3d(640px,0,0);
	-o-transform: translate3d(640px,0,0);
	transform: translate3d(640px,0,0);
	opacity: 0.8
	background: rgba(0,0,255,.4)
