doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL | Technoter Presentation

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

        section
            h1 E-Blue, The Real Software
        
        section
            h2 Latar Belakang
            ul.bullet
                br
                li Film Home Alone 3
                li Keresahan ketika harus mencari <i>remote</i> TV di saat sedang ingin menonton TV <i>atau</i>
                li Saat harus mecari remote <i>AC</i> di saat sedang kelelahan pulang dari kampus

        section
            h2 Tujuan
            ul.bullet
                br
                li Memudahkan orang untuk menyalakan semua alat elektronik dengan satu <i>device</i> saja, yaitu <i>SmartPhone</i>
                li Menghemat biaya untuk membeli <i>remote</i> untuk setiap alat elektronik

        section
            h2 Cara Kerja
            ol.bullet
                br
                li Semua alat elektronik akan ditanamkan sebuah <i>chip</i> yang nantinya akan didaftarkan di <i>CenterMachine</i>
                li <i>SmartPhone</i> kita akan terhubung dengan <i>CenterMachine</i>
                li Ketika kita menekan on/off pada salah satu alat elektronik, maka <i>SmartPhone</i> kita akan mengirimkan sinyal ke <i>CenterMachine</i>
                li <i>CenterMachine</i> akan melajutkan sinyal tersebut ke alat elektronik

        section
            h2 User Requirements

        section
            h2 Kebutuhan User
            ul.bullet
                li  1. user membutuhkan alat elektronik yang menggunakan teknologi remote.
                
                li 2. Smartphone adalah sebuah perangkat telepon seluler yang dapat dijadikan sebagai remote untuk perangkat kami. 
        section
            h2 System Requirements
            ul.bullet
                br
                li Koneksi bluetooth
                li Data base
                li <i>Operating System</i> : Android , Windows Phone

        section
            h2 Koneksi Bluetooth
            br
            ul.bullet
                li Penghubung setiap <i>smartphone</i> dengan <i>Center Machine</i>
                li Penghubung <i>smartphone</i> dengan alat-alat elektronik
                li Sebagai jalur remote untuk mengontrol alat-alat elektronik.

        section
            h2 Data base
            br
            ul.bullet
                li Berisi alamat pengenal dari alat-alat elektronik yang kita punya.
                li Sebagai daftar alamat untuk setiap perangkat agar bisa saling berhubungan dengan perangkat yang lain.

        section
            h2 Operating System
            br
            ul.bullet
                li Windows Phone
                li Android

        section
            h2 FUNCTIONAL REQUIREMENTS
            
        section 
            h2 Tampilan Awal
            ul.bullet
                br 
                li Fitur ini merupakan tampilan awal ketika user membuka aplikasi e-blue

        section
            h2 Fitur on/off
            ul.bullet
                br
                li Fitur ini berfungsi untuk mengaktifkan alat elektronik
                li ...
                li Juga untuk menonaktifkan alat elektronik


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild